<header class="main-header">
    <a routerLink="/" class="logo">
        <span class="logo-lg">
            <img src="./assets/image/logoGRSLL.png">
        </span>
    </a>
    <nav class="navbar navbar-static-top navbar-inicio">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a routerLink="/login" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user-o"></i>&nbsp; Iniciar sesión
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div align="center" class="container-auth">
    <a routerLink="/" class="logo">
        <span class="logo-lg">
            <img src="./assets/image/geresall.png">
        </span>
    </a>
    <form [formGroup]="formulario" (ngSubmit)="login()">
        <div class="form-group">
            <label for="email">Usuario:</label>
            <input placeholder="Ingrese su Usuario" class="form-control" type="text" formControlName="user"
                [ngClass]="{ 'is-invalid': submitted && f.user.errors }" maxlength="8">
        </div>
        <div class="form-group">
            <div class="forget-pass">
                <label for="email">Contraseña:</label>
            </div>
            <input placeholder="*******" class="form-control" type="password" formControlName="passw"
                [ngClass]="{ 'is-invalid': submitted && f.passw.errors }">
        </div>
        <div *ngIf="usuarioincorrecto" class="show invalid-feedback">
            <p>{{mensajelogg}}</p>
        </div>
        <button type="submit" class="btn-primary">Iniciar Sesión</button>
    </form>
</div>
<div class="loader-demo-box" *ngIf="preloadingstate">
    <div class="circle-loader"></div>
</div>