.logo {
    text-align: center;
}

a {
    padding-bottom: 0.5rem;
    color: rgba(148, 170, 244);
    font-family: "Nunito Semi";
}

.container-auth {
    padding: 40px;
    background: #fefefe;
    width: 90%;
    margin: auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
}

button {
    width: 80%;
    min-width: 80%;
    margin: auto;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px rgba(182, 157, 230, .65);
}

button:hover:active {
    transform: scale(0.99);
}

input {
    border: 1px solid #efeef4;
    background: rgb(241, 244, 249);
    width: 100%;
    color: rgba(0, 0, 0, .4);
    border-radius: 5px;
    font-family: 'Nunito Semi';
    font-size: inherit;
}

.show {
    display: block;
    text-align: center;
    margin-top: -10px;
}

.forget-pass {
    display: flex;
    justify-content: space-between;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: -30px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
}

input[type=checkbox], input[type=radio] {
    margin-top: 1px\9;
    line-height: normal;
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.icheckbox_square-blue {
    background-position: 0 0;
}

.icheckbox_square-blue, .iradio_square-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    border: none;
    cursor: pointer;
}

.icheck {
    color: rgba(0, 0, 0, .4);
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
}

.icheck .group-checkbox {
    position: relative;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-family: 'Nunito Semi';
}

@media only screen and (min-width: 960px) {
    .container-auth {
        width: 30rem;
    }
}