<div class="wrapper">
    <header class="main-header">
        <a routerLink="/" class="logo">
            <span class="logo-lg">
                <img src="./assets/image/logoGRSLL.png">
            </span>
        </a>
        <nav class="navbar navbar-static-top navbar-inicio">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a routerLink="/login" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user-o"></i>&nbsp; Iniciar sesión
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title">SOLICITUD PARA LA AUTORIZACIÓN SANITARIA</h3>
                    </div>
                    <form [formGroup]="registroForm" (ngSubmit)="onSubmitRegistrar()">
                        <div class="box-body">
                            <div class="row" *ngIf="mostrardiv == 'datossolicitante'">
                                <div class="col-md-12">
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">DATOS DEL SOLICITANTE</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': (registrarSubmitted || buscarSolicitanteSubmitted) && f.dni_solicitante.errors}">
                                                        <label>Tipo de Documento</label>
                                                        <div class="col-md-12" style="padding:0px">
                                                            <div class="col-md-4" style="padding:0px">
                                                                <select class="form-control"
                                                                    formControlName="tipo_documento">
                                                                    <option
                                                                        *ngFor="let tipo_documento of tipo_documento_list"
                                                                        value="{{tipo_documento?.id}}">
                                                                        {{tipo_documento?.descripcion}}
                                                                    </option>
                                                                </select>
                                                                <span
                                                                    *ngIf="registrarSubmitted && f.tipo_documento.errors"
                                                                    class="help-block"> Seleccione el Tipo de
                                                                    Documento</span>
                                                            </div>
                                                            <div class="col-md-8" style="padding:0px">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control"
                                                                        formControlName="dni_solicitante"
                                                                        (keypress)="keyPressOnlyNumbers($event)"
                                                                        [maxlength]="8" value="12345678">
                                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-primary"
                                                                            (click)="buscarSolicitante()">Buscar</button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span
                                                            *ngIf="(registrarSubmitted || buscarSolicitanteSubmitted) && f.dni_solicitante.errors"
                                                            class="help-block">El DNI debe ser de 8 dígitos</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.nombres_solicitante.errors}">
                                                        <label>Nombres</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="nombres_solicitante">
                                                        <span *ngIf="registrarSubmitted && f.nombres_solicitante.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.apellidos_solicitante.errors}">
                                                        <label>Apellidos</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="apellidos_solicitante">
                                                        <span
                                                            *ngIf="registrarSubmitted && f.apellidos_solicitante.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.telefono_solicitante.errors}">
                                                        <label>Telefono</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="telefono_solicitante">
                                                        <span
                                                            *ngIf="registrarSubmitted && f.telefono_solicitante.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.correo_solicitante.errors}">
                                                        <label>Correo</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="correo_solicitante">
                                                        <span *ngIf="registrarSubmitted && f.correo_solicitante.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.direccion_solicitante.errors}">
                                                        <label>Dirección</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="direccion_solicitante">
                                                        <span
                                                            *ngIf="registrarSubmitted && f.direccion_solicitante.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.parentesco.errors}">
                                                        <label>Parentesco</label>
                                                        <select class="form-control" formControlName="parentesco">
                                                            <option value="">--SELECCIONE--</option>
                                                            <option *ngFor="let parentesco of parentesco_list"
                                                                value="{{parentesco?.id}}">{{parentesco?.descripcion}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.parentesco.errors"
                                                            class="help-block"> Seleccione el Parentesco</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divoptions">
                                            <button type="button" class="btn btn-primary"
                                                (click)="mostrardiv = 'datosfallecido'">Continuar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="mostrardiv == 'datosfallecido'">
                                <div class="col-md-12">
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">DATOS DEL FALLECIDO</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': (registrarSubmitted || buscarFallecidoSubmitted) && f.dni_fallecido.errors}">
                                                        <label>DNI</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control"
                                                                formControlName="dni_fallecido"
                                                                (keypress)="keyPressOnlyNumbers($event)"
                                                                [maxlength]="8">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-primary"
                                                                    (click)="buscarFallecido()">Buscar</button>
                                                            </span>
                                                        </div>
                                                        <span
                                                            *ngIf="(registrarSubmitted || buscarFallecidoSubmitted) && f.dni_fallecido.errors"
                                                            class="help-block">El DNI debe ser de 8 dígitos</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.nombres_fallecido.errors}">
                                                        <label>Nombres</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="nombres_fallecido">
                                                        <span *ngIf="registrarSubmitted && f.nombres_fallecido.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.apellidos_fallecido.errors}">
                                                        <label>Apellidos</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="apellidos_fallecido">
                                                        <span *ngIf="registrarSubmitted && f.apellidos_fallecido.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.edad_fallecido.errors}">
                                                        <label>Edad</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="edad_fallecido"
                                                            (keypress)="keyPressOnlyNumbers($event)" [maxlength]="3">
                                                        <span *ngIf="registrarSubmitted && f.edad_fallecido.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.fecha_fallecimiento.errors}">
                                                        <label>Fecha de Fallecimiento</label>
                                                        <input type="date" class="form-control"
                                                            formControlName="fecha_fallecimiento">
                                                        <span *ngIf="registrarSubmitted && f.fecha_fallecimiento.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.lugar_ocurrencia.errors}">
                                                        <label>Lugar Ocurrencia</label>
                                                        <select class="form-control" formControlName="lugar_ocurrencia">
                                                            <option value="">--SELECCIONE--</option>
                                                            <option
                                                                *ngFor="let lugar_ocurrencia of lugar_ocurrencia_list"
                                                                value="{{lugar_ocurrencia?.id}}">
                                                                {{lugar_ocurrencia?.descripcion}}</option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.lugar_ocurrencia.errors"
                                                            class="help-block"> Seleccione el lugar de ocurrencia</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.provincia.errors}">
                                                        <label>Provincia</label>
                                                        <select class="form-control" formControlName="provincia"
                                                            (change)="listarDistritoPorProvincia($event.target.value)"
                                                            #provincia>
                                                            <option *ngFor="let provincia of provincia_list"
                                                                value="{{provincia?.provincia}}">
                                                                {{provincia?.provincia}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.provincia.errors"
                                                            class="help-block"> Seleccione la provincia</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.distrito.errors}">
                                                        <label>Distrito</label>
                                                        <select class="form-control" formControlName="distrito"
                                                            (change)="listarEstablecimiento(provincia.value,$event.target.value)">
                                                            <option *ngFor="let distrito of distrito_list"
                                                                value="{{distrito?.distrito}}">{{distrito?.distrito}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.distrito.errors"
                                                            class="help-block"> Seleccione el distrito</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3" *ngIf="showestablecimiento">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.establecimiento.errors}">
                                                        <label>Establecimiento de salud</label>
                                                        <select class="form-control" formControlName="establecimiento">
                                                            <option *ngFor="let establecimiento of establecimiento_list"
                                                                value="{{establecimiento?.nombre_establecimiento}}">
                                                                {{establecimiento?.nombre_establecimiento}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.establecimiento.errors"
                                                            class="help-block"> Seleccione el establecimiento</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" *ngIf="!showestablecimiento">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.direccion_fallecimiento.errors}">
                                                        <label>Direccion</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="direccion_fallecimiento">
                                                        <span
                                                            *ngIf="registrarSubmitted && f.direccion_fallecimiento.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.ciex.errors}">
                                                        <label>Causa de muerte</label>

                                                        <ng-select [items]="ciex_list" bindLabel="desc_ciex" autofocus
                                                            bindValue="id_ciex" placeholder="--SELECCIONE--"
                                                            formControlName="ciex">
                                                        </ng-select>
                                                        <span *ngIf="registrarSubmitted && f.ciex.errors"
                                                            class="help-block"> Seleccione la causa de muerte</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divoptions">
                                            <button type="button" class="btn btn-primary"
                                                (click)="mostrardiv = 'datossolicitante'">Anterior</button>
                                            <button type="button" class="btn btn-primary"
                                                (click)="mostrardiv = 'datosmedico'">Continuar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="mostrardiv == 'datosmedico'">
                                <div class="col-md-12">
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">DATOS DEL MÉDICO</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': (registrarSubmitted || buscarMedicoSubmitted) && f.dni_medico.errors}">
                                                        <label>DNI</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control"
                                                                formControlName="dni_medico"
                                                                (keypress)="keyPressOnlyNumbers($event)"
                                                                [maxlength]="8">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-primary"
                                                                    (click)="buscarMedico()">Buscar</button>
                                                            </span>
                                                        </div>
                                                        <span
                                                            *ngIf="(registrarSubmitted || buscarMedicoSubmitted) && f.dni_medico.errors"
                                                            class="help-block">El DNI debe ser de 8 dígitos</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.nombres_medico.errors}">
                                                        <label>Nombres</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="nombres_medico">
                                                        <span *ngIf="registrarSubmitted && f.nombres_medico.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.apellidos_medico.errors}">
                                                        <label>Apellidos</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="apellidos_medico">
                                                        <span *ngIf="registrarSubmitted && f.apellidos_medico.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divoptions">
                                            <button type="button" class="btn btn-primary"
                                                (click)="mostrardiv = 'datosfallecido'">Anterior</button>
                                            <button type="button" class="btn btn-primary"
                                                (click)="mostrardiv = 'tipoautorización'">Continuar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="mostrardiv == 'tipoautorización'">
                                <div class="col-md-12">
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">TIPO DE AUTORIZACIÓN</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.tipo_autorizacion.errors}">
                                                        <label>Tipo de Autorizacion</label>
                                                        <select class="form-control" formControlName="tipo_autorizacion"
                                                            (change)="listarRequisitosPorTipoAutorizacion($event.target.value)">
                                                            <option
                                                                *ngFor="let tipo_autorizacion of tipo_autorizacion_list"
                                                                value="{{tipo_autorizacion?.id}}">
                                                                {{tipo_autorizacion?.descripcion}}</option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.tipo_autorizacion.errors"
                                                            class="help-block"> Seleccione el tipo de
                                                            autorización</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.fecha_inhumacion_cremacion.errors}">
                                                        <label>Fecha</label>
                                                        <input type="date" class="form-control"
                                                            formControlName="fecha_inhumacion_cremacion">
                                                        <span
                                                            *ngIf="registrarSubmitted && f.fecha_inhumacion_cremacion.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.hora_inhumacion_cremacion.errors}">
                                                        <label>Hora</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="hora_inhumacion_cremacion">
                                                        <span
                                                            *ngIf="registrarSubmitted && f.hora_inhumacion_cremacion.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.lugar_inhumacion_cremacion.errors}">
                                                        <label>Lugar</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="lugar_inhumacion_cremacion">
                                                        <span
                                                            *ngIf="registrarSubmitted && f.lugar_inhumacion_cremacion.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row"
                                                *ngIf="showdetalleautorizacion == 4 || showdetalleautorizacion == 5">
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.localidad_origen.errors}">
                                                        <label>Localidad(origen)</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="localidad_origen">
                                                        <span *ngIf="registrarSubmitted && f.localidad_origen.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.provincia_origen.errors}">
                                                        <label>Provincia(origen)</label>
                                                        <select class="form-control" formControlName="provincia_origen"
                                                            (change)="listarDistritoPorProvinciaOrigen($event.target.value)">
                                                            <option *ngFor="let provincia of provincia_list"
                                                                value="{{provincia.provincia}}">{{provincia.provincia}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.provincia_origen.errors"
                                                            class="help-block"> Seleccione la provincia</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.distrito_origen.errors}">
                                                        <label>Distrito(origen)</label>
                                                        <select class="form-control" formControlName="distrito_origen">
                                                            <option *ngFor="let distrito of distritos_list_origen"
                                                                value="{{distrito?.distrito}}">{{distrito?.distrito}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.distrito_origen.errors"
                                                            class="help-block"> Seleccione el distrito</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.localidad_destino.errors}">
                                                        <label>Localidad(destino)</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="localidad_destino">
                                                        <span *ngIf="registrarSubmitted && f.localidad_destino.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.provincia_destino.errors}">
                                                        <label>Provincia(destino)</label>
                                                        <select class="form-control" formControlName="provincia_destino"
                                                            (change)="listarDistritoPorProvinciaDestino($event.target.value)">
                                                            <option *ngFor="let provincia of provincia_list"
                                                                value="{{provincia.provincia}}">{{provincia.provincia}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.provincia_destino.errors"
                                                            class="help-block"> Seleccione la provincia</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.distrito_destino.errors}">
                                                        <label>Distrito(destino)</label>
                                                        <select class="form-control" formControlName="distrito_destino">
                                                            <option *ngFor="let distrito of distritos_list_destino"
                                                                value="{{distrito?.distrito}}">{{distrito?.distrito}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.distrito_destino.errors"
                                                            class="help-block"> Seleccione el distrito</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.tipo_entierro.errors}">
                                                        <label>Tipo entierro</label>
                                                        <select class="form-control" formControlName="tipo_entierro"
                                                            (change)="filtrarrequisitos($event.target.value)">
                                                            <option *ngFor="let tipo of tipo_entierro"
                                                                value="{{tipo?.tipo}}">{{tipo?.tipo}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.tipo_entierro.errors"
                                                            class="help-block"> Seleccione el distrito</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="showdetalleautorizacion == 6">
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.tipo_conservacion.errors}">
                                                        <label>Tipo de conservación:</label>
                                                        <select class="form-control" formControlName="tipo_conservacion"
                                                            (change)="showtipoconservacion($event.target.value)">
                                                            <option *ngFor="let tipo of tipo_conservacion"
                                                                value="{{tipo?.tipo}}">{{tipo?.tipo}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.tipo_conservacion.errors"
                                                            class="help-block">No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3" *ngIf="showtipo_conservacion">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.compuesto_aplicado_cre.errors}">
                                                        <label>Ingrese cantidad en litros:</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="compuesto_aplicado_cre">
                                                        <span
                                                            *ngIf="registrarSubmitted && f.compuesto_aplicado_cre.errors"
                                                            class="help-block">No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.tipo_necropsia.errors}">
                                                        <label>Tipo de necropsia:</label>
                                                        <select class="form-control" formControlName="tipo_necropsia"
                                                            (change)="showtiponecropsia($event.target.value)">
                                                            <option *ngFor="let tipo of tipo_necropsia"
                                                                value="{{tipo?.tipo}}">{{tipo?.tipo}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.tipo_necropsia.errors"
                                                            class="help-block">No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3" *ngIf="showtipo_necropsia">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.certificado_necropsia.errors}">
                                                        <label>N° necropsia</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="certificado_necropsia">
                                                        <span
                                                            *ngIf="registrarSubmitted && f.certificado_necropsia.errors"
                                                            class="help-block">No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3" *ngIf="showtipo_necropsia_mp">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.entidad.errors}">
                                                        <label>Entidad</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="entidad">
                                                        <span *ngIf="registrarSubmitted && f.entidad.errors"
                                                            class="help-block">No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3" *ngIf="showtipo_necropsia">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.nombre_patologo.errors}">
                                                        <label>Nombre patologos</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="nombre_patologo">
                                                        <span *ngIf="registrarSubmitted && f.nombre_patologo.errors"
                                                            class="help-block">No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="showdetalleautorizacion == 3">
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.funeraria.errors}">
                                                        <label>Funeraria</label>
                                                        <select class="form-control"
                                                            formControlName="funeraria">
                                                            <option *ngFor="let funeraria of funeraria_list"
                                                                value="{{funeraria.id}}">{{funeraria.nombre_comercial}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.funeraria.errors"
                                                            class="help-block"> Seleccione la funeraria</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.provincia_funeraria.errors}">
                                                        <label>Provincia</label>
                                                        <select class="form-control"
                                                            formControlName="provincia_funeraria"
                                                            (change)="listarDistritoPorProvinciaFuneraria($event.target.value)">
                                                            <option *ngFor="let provincia of provincia_list"
                                                                value="{{provincia.provincia}}">{{provincia.provincia}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.provincia_funeraria.errors"
                                                            class="help-block"> Seleccione la provincia</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.distrito_funeraria.errors}">
                                                        <label>Distrito</label>
                                                        <select class="form-control"
                                                            formControlName="distrito_funeraria">
                                                            <option *ngFor="let distrito of distritos_list_funeraria"
                                                                value="{{distrito?.distrito}}">{{distrito?.distrito}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.distrito_funeraria.errors"
                                                            class="help-block"> Seleccione el distrito</span>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.tipo_conservacion_inh.errors}">
                                                        <label>Tipo de conservación:</label>
                                                        <select class="form-control"
                                                            formControlName="tipo_conservacion_inh"
                                                            (change)="showtipoconservacion($event.target.value)">
                                                            <option *ngFor="let tipo of tipo_conservacion"
                                                                value="{{tipo?.tipo}}">{{tipo?.tipo}}
                                                            </option>
                                                        </select>
                                                        <span
                                                            *ngIf="registrarSubmitted && f.tipo_conservacion_inh.errors"
                                                            class="help-block">No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3" *ngIf="showtipo_conservacion">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.compuesto_aplicado_inh.errors}">
                                                        <label>Ingrese cantidad en litros:</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="compuesto_aplicado_inh">
                                                        <span
                                                            *ngIf="registrarSubmitted && f.compuesto_aplicado_inh.errors"
                                                            class="help-block">No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="box box-solid">
                                                        <div class="box-header with-border">
                                                            <h3 class="box-title">REQUISITOS</h3>
                                                        </div>
                                                        <div class="box-body table-responsive no-padding">
                                                            <ul *ngIf="requisito_list.length > 0; else requisitoNull;">
                                                                <li *ngIf="requisito_list_natural.length > 0">
                                                                    <span><b>En caso de muerte natural:</b></span>
                                                                    <ul>
                                                                        <li
                                                                            *ngFor="let requisito of requisito_list_natural; let i = index;">
                                                                            <div>
                                                                                <p>{{ i + 1}}) {{requisito?.requisito}}
                                                                                </p>
                                                                                <input type="file"
                                                                                    (change)="adjuntarRequisitos($event,requisito)">
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li *ngIf="requisito_list_subita.length > 0">
                                                                    <span><b>En Caso de Muerte Súbita o Violenta:
                                                                            (accidente, suicidio o crimen) además de los
                                                                            anteriores requisitos:</b></span>
                                                                    <ul>
                                                                        <li
                                                                            *ngFor="let requisito of requisito_list_subita; let i = index;">
                                                                            <div>
                                                                                <p>{{ i + 1}}) {{requisito?.requisito}}
                                                                                </p>
                                                                                <input type="file"
                                                                                    (change)="adjuntarRequisitos($event,requisito)">
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li *ngIf="requisito_list_48h.length > 0">
                                                                    <span><b>De efectuarse después de las 48 horas de
                                                                            fallecido: además de los requisitos
                                                                            anteriores:</b></span>
                                                                    <ul>
                                                                        <li
                                                                            *ngFor="let requisito of requisito_list_48h; let i = index;">
                                                                            <div>
                                                                                <p>{{ i + 1}}) {{requisito?.requisito}}
                                                                                </p>
                                                                                <input type="file"
                                                                                    (change)="adjuntarRequisitos($event,requisito)">
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                            <ng-template #requisitoNull>
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="color: red;">Seleccionar el Tipo
                                                                                de Autorización
                                                                                para visualizar los requisitos</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="divoptions">
                                                    <button type="button" class="btn btn-primary"
                                                        (click)="mostrardiv = 'datosmedico'">Anterior</button>
                                                    <button type="submit" class="btn btn-primary">Registrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="loader-demo-box" *ngIf="preloadingstate">
    <div class="circle-loader"></div>
</div>