@import "~@ng-select/ng-select/themes/default.theme.css";
.loader-demo-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center !important;
    display: flex !important;
    border-radius: 0.25rem !important;
    border-color: #d9dbdc !important;
    border: 1px solid #f3f3f3 !important;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1050;
}

.circle-loader {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

.circle-loader:before {
    z-index: 100;
    animation: spin 1s infinite;
}

.circle-loader::after {
    border: 10px solid #d9dbdc !important;
}

.circle-loader:before, .circle-loader:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: #f29d56;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form-control:not(select) {
    appearance: auto !important;
}

input[type=checkbox], input[type=radio] {
    margin: 0 !important;
    width: 20px;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background: transparent;
}

.swal2-popup {
    font-size: inherit !important;
}

body {
    font-size: 16px;
}

