.navbar {
    background-color: #004a80 !important;
}

.logo-lg {
    display: block;
}

.main-header .logo .logo-lg img {
    max-width: 200px;
    max-height: 50px;
}

.main-header .logo .logo-lg .brandlogo-image {
    margin-top: 8px;
    margin-right: 10px;
    margin-left: -5px;
}

.sidebar-mini.sidebar-collapse .main-header .logo>.logo-lg {
    display: none
}

.main-header .navbar {
    margin-left: 300px;
    min-height: 80px;
}

.main-header .logo {
    width: 300px;
    height: 80px;
    line-height: 80px;
    text-align: unset;
    background-color: #004273 !important;
}

.main-header .logo .logo-lg img {
    max-height: 80px;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .main-header .navbar {
        margin: 0;
    }
    .main-header .logo, .main-header .navbar {
        width: 100%;
        text-align: center;
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.wrapper {
    background-color: #ecf0f5 !important;
}

.alert-geresa {
    background-color: #fff !important;
}

@media (max-width: 767px) {
    .content-header {
        padding-top: 80px;
    }
}

@media (max-width: 768px) {
    .info-logo {
        text-align: center !important;
    }
}

.info-geresa>p {
    line-height: 25px;
    text-align: justify;
}

.info-logo {
    text-align: right;
}

.box-solid {
    border-top: 1px solid #e9e9e9;
}

.ng-select.ng-select-disabled>.ng-select-container {
    background-color: red;
}

.ng-select.ng-select-disabled .ng-arrow-wrapper {
    display: none;
}

.divoptions {
    display: flex;
    width: 100%;
    justify-content: center;
}

.divoptions button {
    margin: 1rem;
}

ul {
    column-count: 2;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

li p {
    margin: 0;
}

.requisitos_list_div li {
    display: block;
}

ul>li>div {
    display: flex;
}

ul>li>div>p {
    flex: 1;
    margin-right: 1rem;
}