<div class="wrapper">
    <header class="main-header">
        <a routerLink="/" class="logo">
            <span class="logo-lg">
                <img src="./assets/image/logoGRSLL.png">
            </span>
        </a>
        <nav class="navbar navbar-static-top navbar-inicio">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a routerLink="/login" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user-o"></i>&nbsp; Iniciar sesión
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title">SOLICITUD DE COSTANCIA DE INSPECCION TECNICA DE ACTIVIDADES DE EMPRESAS DE
                            SANEAMIENTO AMBIENTAL</h3>
                    </div>
                    <form [formGroup]="registroForm" (ngSubmit)="onSubmitRegistrar()">
                        <div class="box-body">
                            <div class="row" *ngIf="mostrardiv == 'datosrepresentante'">
                                <div class="col-md-12">
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">DATOS DEL PROPIETARIO O REPRESENTANTE LEGAL</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': (registrarSubmitted || buscarSolicitanteSubmitted) && f.dni_propietario.errors}">
                                                        <label>DNI</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control"
                                                                formControlName="dni_propietario"
                                                                (keypress)="keyPressOnlyNumbers($event)" [maxlength]="8"
                                                                value="12345678">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-primary"
                                                                    (click)="buscarSolicitante()">Buscar</button>
                                                            </span>
                                                        </div>
                                                        <span
                                                            *ngIf="(registrarSubmitted || buscarSolicitanteSubmitted) && f.dni_propietario.errors"
                                                            class="help-block">El DNI debe ser de 8 dígitos</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.nombres_propietario.errors}">
                                                        <label>Nombres</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="nombres_propietario">
                                                        <span *ngIf="registrarSubmitted && f.nombres_propietario.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.apellidos_propietario.errors}">
                                                        <label>Apellidos</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="apellidos_propietario">
                                                        <span
                                                            *ngIf="registrarSubmitted && f.apellidos_propietario.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.telefono_propietario.errors}">
                                                        <label>Telefono</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="telefono_propietario" maxlength="6">
                                                        <span
                                                            *ngIf="registrarSubmitted && f.telefono_propietario.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.celular_propietario.errors}">
                                                        <label>Celular</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="celular_propietario" maxlength="9">
                                                        <span *ngIf="registrarSubmitted && f.celular_propietario.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.correo_propietario.errors}">
                                                        <label>Correo</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="correo_propietario">
                                                        <span *ngIf="registrarSubmitted && f.correo_propietario.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.provincia_propietario.errors}">
                                                        <label>Provincia</label>
                                                        <select class="form-control"
                                                            formControlName="provincia_propietario"
                                                            (change)="listarDistritoPorProvincia($event.target.value)"
                                                            #provincia>
                                                            <option *ngFor="let provincia of provincia_list"
                                                                value="{{provincia?.provincia}}">
                                                                {{provincia?.provincia}}
                                                            </option>
                                                        </select>
                                                        <span
                                                            *ngIf="registrarSubmitted && f.provincia_propietario.errors"
                                                            class="help-block"> Seleccione la provincia</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.distrito_propietario.errors}">
                                                        <label>Distrito</label>
                                                        <select class="form-control"
                                                            formControlName="distrito_propietario">
                                                            <option *ngFor="let distrito of distrito_list"
                                                                value="{{distrito?.distrito}}">{{distrito?.distrito}}
                                                            </option>
                                                        </select>
                                                        <span
                                                            *ngIf="registrarSubmitted && f.distrito_propietario.errors"
                                                            class="help-block"> Seleccione el distrito</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.domicilio_propietario.errors}">
                                                        <label>Domicilio</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="domicilio_propietario">
                                                        <span
                                                            *ngIf="registrarSubmitted && f.domicilio_propietario.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divoptions">
                                            <button type="button" class="btn btn-primary"
                                                (click)="mostrardiv = 'datosempresa'">Continuar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="mostrardiv == 'datosempresa'">
                                <div class="col-md-12">
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">DATOS DE LA EMPRESA</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.nombre_comercial.errors}">
                                                        <label>Nombre Comercial(Segun RUC)</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="nombre_comercial">
                                                        <span *ngIf="registrarSubmitted && f.nombre_comercial.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': (registrarSubmitted || buscarFallecidoSubmitted) && f.numero_ruc.errors}">
                                                        <label>N° de RUC</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="numero_ruc"
                                                            (keypress)="keyPressOnlyNumbers($event)" [maxlength]="11">
                                                        <span
                                                            *ngIf="(registrarSubmitted || buscarFallecidoSubmitted) && f.numero_ruc.errors"
                                                            class="help-block">El RUC debe ser de 11 dígitos</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.telefono_empresa.errors}">
                                                        <label>Telefono</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="telefono_empresa" maxlength="6">
                                                        <span *ngIf="registrarSubmitted && f.telefono_empresa.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.celular_empresa.errors}">
                                                        <label>Celular</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="celular_empresa"
                                                            (keypress)="keyPressOnlyNumbers($event)" [maxlength]="9">
                                                        <span *ngIf="registrarSubmitted && f.celular_empresa.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.provincia_empresa.errors}">
                                                        <label>Provincia</label>
                                                        <select class="form-control" formControlName="provincia_empresa"
                                                            (change)="listarDistritoPorProvinciaEmpresa($event.target.value)"
                                                            #provincia>
                                                            <option *ngFor="let provincia of provincia_list"
                                                                value="{{provincia?.provincia}}">
                                                                {{provincia?.provincia}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.provincia_empresa.errors"
                                                            class="help-block"> Seleccione la provincia</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.distrito_empresa.errors}">
                                                        <label>Distrito</label>
                                                        <select class="form-control" formControlName="distrito_empresa">
                                                            <option *ngFor="let distrito of distritos_list_empresa"
                                                                value="{{distrito?.distrito}}">{{distrito?.distrito}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="registrarSubmitted && f.distrito_empresa.errors"
                                                            class="help-block"> Seleccione el distrito</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.direccion_empresa.errors}">
                                                        <label>Direccion</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="direccion_empresa">
                                                        <span *ngIf="registrarSubmitted && f.direccion_empresa.errors"
                                                            class="help-block"> Seleccione la provincia</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error': registrarSubmitted && f.correo_electronico_empresa.errors}">
                                                        <label>Correo Electronico</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="correo_electronico_empresa">
                                                        <span
                                                            *ngIf="registrarSubmitted && f.correo_electronico_empresa.errors"
                                                            class="help-block"> No se permite este campo vacío</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Servicios de Saneamiento Ambiental que Ofrecen:(Marcar con X,
                                                        las opciones seleccionada)</label>
                                                    <ul>
                                                        <li *ngFor="let item of servicios_saneamiento">
                                                            <input type="checkbox" name="{{item.id}}"
                                                                checked="{{item.checked}}"
                                                                (change)="onChange(item.id, $event.target.checked)">
                                                            <p>{{item.descripcion}}</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divoptions">
                                            <button type="button" class="btn btn-primary"
                                                (click)="mostrardiv = 'datosrepresentante'">Anterior</button>
                                            <button type="button" class="btn btn-primary"
                                                (click)="mostrardiv = 'requisitos'">Continuar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="mostrardiv == 'requisitos'">
                                <div class="col-md-12">
                                    <div class="box box-solid requisitos_list_div">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">REQUISITOS:(Marcar con X,documentos adjuntos)</h3>
                                        </div>
                                        <ul style="column-count: 1;">
                                            <li>
                                                <div>
                                                    <p>1).Copia del Registro Unico del Contribuyente - RUC</p>
                                                    <input type="file" (change)="adjuntarRequisitos($event,'1')">
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <p>2).Copia de Escritura Publica del Contribuyente de la Empresa</p>
                                                    <input type="file" (change)="adjuntarRequisitos($event,'2')">
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <p>3).Copia de la Licencia de Funcionamiento Municipal</p>
                                                    <input type="file" (change)="adjuntarRequisitos($event,'3')">
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <p>4).Memoria Descriptiva de Procesamiento: a)Desinsectacion
                                                        b)Desratizacion c)Desinfeccion d)Limpieza de Ambientes
                                                        e)Limpieza y Desinfeccion de Reservorios de Agua f)Limpieza de
                                                        Tanques Septicos</p>
                                                    <input type="file" (change)="adjuntarRequisitos($event,'4')">
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <p>5).Plan de Capacitaciones, donde se incluye cronograma de
                                                        capacitacion</p>
                                                    <input type="file" (change)="adjuntarRequisitos($event,'5')">
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <p>6).Plan de contingencia</p>
                                                    <input type="file" (change)="adjuntarRequisitos($event,'6')">
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <p>7).Copia del ultimo manifiesto de residuos solidos</p>
                                                    <input type="file" (change)="adjuntarRequisitos($event,'7')">
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <p>8).Pago del derecho de tramitacion</p>
                                                    <input type="file" (change)="adjuntarRequisitos($event,'8')">
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="divoptions">
                                            <button type="button" class="btn btn-primary"
                                                (click)="mostrardiv = 'datosempresa'">Anterior</button>
                                            <button type="submit" class="btn btn-primary">Registrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="loader-demo-box" *ngIf="preloadingstate">
        <div class="circle-loader"></div>
    </div>
</div>