<div class="wrapper">
    <header class="main-header">
        <a routerLink="/" class="logo">
            <span class="logo-lg">
                <img src="./assets/image/logoGRSLL.png">
            </span>
        </a>
        <nav class="navbar navbar-static-top navbar-inicio">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a routerLink="/login" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user-o"></i>&nbsp; Iniciar sesión
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title">LISTA DE AUTORIZACIONES SANITARIAS APROBAS</h3>
                    </div>
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Tipo Autorización</th>
                                        <th>DNI</th>
                                        <th>Solicitante</th>
                                        <th>Provincia</th>
                                        <th>Distrito</th>
                                        <th>N° documentos</th>
                                        <th>Estado</th>
                                    </tr>
                                    <tr *ngFor="let autorizacion of autorizaciones_list; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{autorizacion.tipo_autorizacion}}</td>
                                        <td>{{autorizacion.dni}}</td>
                                        <td>{{autorizacion.nombre_solicitante}}</td>
                                        <td>{{autorizacion.provincia}}</td>
                                        <td>{{autorizacion.distrito}}</td>
                                        <td>{{autorizacion.cantidad_documentos}}</td>
                                        <td>{{autorizacion.estado}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="loader-demo-box" *ngIf="preloadingstate">
        <div class="circle-loader"></div>
    </div>
</div>