a {
    cursor: pointer;
    border: none !important;
    color: inherit;
}

table * {
    border: 1px solid #3333;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.tabs {
    width: 100%;
    float: left;
}

.tabs input[name="tab-control"] {
    display: none;
}

.tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.tabs ul li {
    box-sizing: border-box;
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center;
}

.tabs ul li label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.tabs ul li label br {
    display: none;
}

.tabs ul li label i {
    color: #929daf;
    margin-right: 0.3em;
    font-size: 15px;
}

.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
    outline: 0;
    background-color: #eeeeee;
}

.tabs .content {
    border-top: 1px solid #ccc;
    padding-top: 1rem;
    width: 100%;
    float: left;
}

.tabs .content section {
    display: none;
    -webkit-animation-name: content;
    animation-name: content;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    line-height: 1.4;
}

.tabs .content section h2 {
    color: #1876f2;
    display: none;
    font-size: 20px;
    margin: 1rem 0;
}

.tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: #1876f2;
    margin-top: 5px;
    left: 1px;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
    cursor: default;
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    background: #FFF;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label i, .tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label span {
    color: #1876f2;
}

@media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~.content>section:nth-child(1) {
    display: block;
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
    cursor: default;
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    background: #FFF;
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label i, .tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label span {
    color: #1876f2;
}

@media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~.content>section:nth-child(2) {
    display: block;
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
    cursor: default;
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    background: #FFF;
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label i, .tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label span {
    color: #1876f2;
}

@media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~.content>section:nth-child(3) {
    display: block;
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
    cursor: default;
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    background: #FFF;
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label i, .tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label span {
    color: #1876f2;
}

@media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~.content>section:nth-child(4) {
    display: block;
}

.tabs input[name="tab-control"]:nth-of-type(5):checked~ul>li:nth-child(5)>label {
    cursor: default;
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    background: #FFF;
}

.tabs input[name="tab-control"]:nth-of-type(5):checked~ul>li:nth-child(5)>label i, .tabs input[name="tab-control"]:nth-of-type(5):checked~ul>li:nth-child(5)>label span {
    color: #1876f2;
}

@media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(5):checked~ul>li:nth-child(5)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs input[name="tab-control"]:nth-of-type(5):checked~.content>section:nth-child(5) {
    display: block;
}

.tabs input[name="tab-control"]:nth-of-type(6):checked~ul>li:nth-child(6)>label {
    cursor: default;
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    background: #FFF;
}

.tabs input[name="tab-control"]:nth-of-type(6):checked~ul>li:nth-child(6)>label i, .tabs input[name="tab-control"]:nth-of-type(6):checked~ul>li:nth-child(6)>label span {
    color: #1876f2;
}

@media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(6):checked~ul>li:nth-child(6)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs input[name="tab-control"]:nth-of-type(6):checked~.content>section:nth-child(6) {
    display: block;
}

@-webkit-keyframes content {
    from {
        opacity: 0;
        -webkit-transform: translateY(5%);
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes content {
    from {
        opacity: 0;
        -webkit-transform: translateY(5%);
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@media (max-width: 1000px) {
    .tabs ul li label {
        white-space: initial;
    }
    .tabs ul li label br {
        display: initial;
    }
    .tabs ul li label i {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .tabs ul li label {
        padding: 5px;
        border-radius: 5px;
    }
    .tabs ul li label span {
        display: none;
    }
    .tabs .content {
        margin-top: 20px;
        padding: 0;
    }
    .tabs .content section h2 {
        display: block;
    }
}