<div class="wrapper">
    <header class="main-header">
        <a routerLink="/" class="logo">
            <span class="logo-lg">
                <img src="./assets/image/logoGRSLL.png">
            </span>
        </a>
        <nav class="navbar navbar-static-top navbar-inicio">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a routerLink="/login" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user-o"></i>&nbsp; Iniciar sesión
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title">LISTA DE AUTORIZACIONES SANITARIAS</h3>
                    </div>
                    <div class="container">
                        <div class="tabs">
                            <input type="radio" id="tab1" name="tab-control" checked>
                            <input type="radio" id="tab2" name="tab-control">
                            <ul>
                                <li>
                                    <label for="tab1" role="button">
                                        <i class="fas fa-pencil-ruler"></i>
                                        <span>Pendientes</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="tab2" role="button">
                                        <i class="far fa-address-book"></i>
                                        <span>Aprobadas</span>
                                    </label>
                                </li>
                            </ul>
                            <div class="content">
                                <section>
                                    <div class="box-body">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>Tipo Autorización</th>
                                                    <th>DNI</th>
                                                    <th>Solicitante</th>
                                                    <th>Provincia</th>
                                                    <th>Distrito</th>
                                                    <th>N° documentos</th>
                                                    <th>Descargar</th>
                                                    <th></th>
                                                </tr>
                                                <tr
                                                    *ngFor="let autorizacion of autorizaciones_pendientes_list; let i = index">
                                                    <td>{{i+1}}</td>
                                                    <td>{{autorizacion.tipo_autorizacion}}</td>
                                                    <td>{{autorizacion.dni}}</td>
                                                    <td>{{autorizacion.nombre_solicitante}}</td>
                                                    <td>{{autorizacion.provincia}}</td>
                                                    <td>{{autorizacion.distrito}}</td>
                                                    <td>{{autorizacion.cantidad_documentos}}</td>
                                                    <td><i class="fas fa-download"
                                                            (click)="descargarAutorizacion(autorizacion)"></i>
                                                    </td>
                                                    <td><button type="button"
                                                            (click)="updateEstado('aprobado', autorizacion.id)"
                                                            class="btn btn-block btn-success btn-sm">Aprobar</button>
                                                    </td>
                                                    <td><button type="button"
                                                            (click)="updateEstado('rechazado',autorizacion.id)"
                                                            class="btn btn-block btn-danger btn-sm">Rechazar</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                                <section>
                                    <div class="box-body">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>Tipo Autorización</th>
                                                    <th>DNI</th>
                                                    <th>Solicitante</th>
                                                    <th>Provincia</th>
                                                    <th>Distrito</th>
                                                    <th>N° documentos</th>
                                                    <th>Subir documento</th>
                                                    <th></th>
                                                </tr>
                                                <tr
                                                    *ngFor="let autorizacion of autorizaciones_aprobadas_list; let i = index">
                                                    <td>{{i+1}}</td>
                                                    <td>{{autorizacion.tipo_autorizacion}}</td>
                                                    <td>{{autorizacion.dni}}</td>
                                                    <td>{{autorizacion.nombre_solicitante}}</td>
                                                    <td>{{autorizacion.provincia}}</td>
                                                    <td>{{autorizacion.distrito}}</td>
                                                    <td>{{autorizacion.cantidad_documentos}}</td>
                                                    <td>
                                                        <input type="file">
                                                    </td>
                                                    <td><button type="button"
                                                            (click)="updateEstado('verificado', autorizacion.id)"
                                                            class="btn btn-block btn-success btn-sm">Enviar</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="loader-demo-box" *ngIf="preloadingstate">
    <div class="circle-loader"></div>
</div>